nav {margin-bottom: 30px;}
nav {padding: 10px;}
nav {background-color:#D3D3D3;}
nav a {color: #6705A5;}
nav a:hover {background-color: #BCCEF8;}
body {font-family: Georgia, 'Times New Roman', Times, serif}
body {color: #331800;}
body{background-color:#ECECEC; }
h1, h2, h3 {color: cornflowerblue;}
   
p a{color:#568f56;}
.evenrow {background-color: darkgrey;}
h1 {font-size: 1 em;}
h2 {font-size: .5 em;}
.qoute {float: right;}

/*
.row1, .row2 {
    display: flex;
    padding: 20px;
}

.row1 div {
    flex: 1;
    background-color: #deeff5;
    border-radius: 25px;
}

.row2 div {
    flex: 1;
    background-color: #cfe2f5;
    border-radius: 25px;
}*/

h1 {text-align: center;}
p {text-align: center;}
h2 {text-align: left;}
.image {
    display: flex;
    justify-content: space-around;}
aside {
    background-color: #7991BD;
    color: #ffff;
    border-radius: 25px;
    margin: 0.05px;
    padding: 30px;}
h2 {color:#ffff;}
.flexbox2 {
    display: flex;
    margin-left: 10%;
    padding: 10%;}
.skills1 {flex: 0.75;}
.skills2 {flex: 0.25;}