nav {
    margin-bottom: 30px;
}
nav {
    padding: 10px;
}
nav {
    background-color: •	#FF0000;
}
nav a {
    color: #391D8C;
}
nav a:hover {
    background-color: #BCCEF8;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif
   }
   
body{
    background-color:#ECECEC; 
}
   h1, h2 {
       color: cornflowerblue;
   }
   
   .evenrow {
       background-color: darkgrey;
   }
   
   h1 { 
   font-size: 1 em;
   }
   
   h2 { 
   font-size: .5 em;
   }